* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AppleFont;
  src: url(fonts/SF-Pro-Display-Ultralight.otf);
}

:root {
  --start-bg-color: #0b2a14;
  --start-font-color: #3ecb63;
  --start-hold-color: #06160c;
  --lap-bg-color: #363337;
  --lapoff-bg-color: #1f1c22;
  --lapoff-font-color: #9c9ba0;
  --lapoff-hold-bg-color: #0f0f0f;
  --stop-bg-color: #350e0e;
  --stop-font-color: #df3b33;
  --stop-hold-bg-color: #1d0709;
  --background: #020003;
  --divisor-line: #211e21;
}

body {
  background-color: var(--background);
  color: white;
  font-family: "AppleFont";
  height: 100vh;
}

.centered__container {
  display: flex;
  width: 375px;
  height: 812px;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upper__screen {
  height: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.timer__screen {
  height: 75%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__screen p {
  font-size: 72px;
}

.buttons {
  display: flex;
  height: 25%;
  justify-content: space-between;
}

.roundBtn {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: black 3px double;
}

.start {
  background-color: var(--start-bg-color);
  color: var(--start-font-color);
}

.lap {
  background-color: var(--lap-bg-color);
  color: var(--lap-font-color);
}

.lapoff {
  background-color: var(--lapoff-bg-color);
  color: var(--lapoff-font-color);
}

.stop {
  background-color: var(--stop-bg-color);
  color: var(--stop-font-color);
}

.bottom__screen {
  height: 50%;
  border: 2px blue double;
}

.hidden {
  display: none;
}

.best {
  background-color: green;
}

.worst {
  background-color: red;
}
