* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AppleFont;
  src: url(fonts/SF-Pro-Display-Ultralight.otf);
}

:root {
  --start-bg-color: #0b2a14;
  --start-font-color: #3ecb63;
  --start-hold-color: #06160c;
  --lap-bg-color: #363337;
  --lapoff-bg-color: #1f1c22;
  --lapoff-font-color: #9c9ba0;
  --lapoff-hold-bg-color: #0f0f0f;
  --stop-bg-color: #350e0e;
  --stop-font-color: #df3b33;
  --stop-hold-bg-color: #1d0709;
  --background: #020003;
  --divisor-line: #211e21;
}

body {
  color: white;
  font-family: "AppleFont";
  height: 100vh;
}

.centered__container {
  display: flex;
  width: 375px;
  height: 812px;
  flex-direction: column;
  background-color: var(--background);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upper__screen {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.timer__screen {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__screen p {
  font-size: 72px;
  font-variant-numeric: tabular-nums;
}

.timer__list {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid var(--divisor-line);
}

tr td {
  width: 50%;
  padding: 0.5em;
}

tr td:last-of-type {
  text-align: right;
}

.buttons {
  display: flex;
  height: 25%;
  justify-content: space-between;
  padding: 0.5em;
}

.roundBtn {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: black 5px double;
  cursor: pointer;
}

.start {
  background-color: var(--start-bg-color);
  color: var(--start-font-color);
}

.start:active {
  background-color: var(--start-hold-color);
}

.lap {
  background-color: var(--lap-bg-color);
  color: var(--lap-font-color);
}

.lap:active {
  background-color: var(--lapoff-hold-bg-color);
}

.lapoff {
  background-color: var(--lapoff-bg-color);
  color: var(--lapoff-font-color);
}

.stop {
  background-color: var(--stop-bg-color);
  color: var(--stop-font-color);
}

.stop:active {
  background-color: var(--stop-hold-bg-color);
}

.bottom__screen {
  height: 50%;
}

.hidden {
  display: none;
}

.best {
  color: green;
}

.worst {
  color: red;
}
